<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ contactGroup.getName() | escape }}</title>
    {% include '/webserver/template/header.html' %}
    <style type="text/css">
        .card .image.icon {
              background: #dfdfdf !important;
        }
        .card .image.icon {
        text-align: center;
            line-height: 200px;
        }
        .card .image.icon i {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>
<body>
{% include '/webserver/template/contact/user/headline.html' with {module: 'dash', location: 'groupview', id: contactGroup.getId().get() } %}
<main class="ui main container">
    <h1 class="ui header top attached">{{ contactGroup.getName() | escape }}</h1>
    {% if success is defined %}
    <div class="ui message icon attached {% if success %}success{% else %}error{% endif %}">
        {% if success %}
        <i class="check icon green"></i>
        {% else %}
        <i class="remove icon red"></i>
        {% endif %}
        <div class="content">
            <p>{{ message | escape }}</p>
        </div>
    </div>
    {% endif %}
    {% if pagination.getSize() > 0 %}
    <div class="ui link cards four column doubling stackable bottom attached">
        {% for element in pagination.getCurrentPageElements() %}
        <div class="card" onclick="window.location = '/contact/contactview?group={{ contactGroup.getId().get() | escape }}&id={{ element.getId().get() }}'">
            <div class="image icon">
                <i class="user icon massive"></i>
            </div>
            <div class="content">
                <div class="header">
                    {{ element.getName() | escape }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="ui placeholder segment bottom attached">
        <div class="ui icon header">
            <i class="pdf file outline icon"></i>
            Keine Kontakte gefunden
        </div>
        <a class="ui primary button" href="/contact/contactform?group={{ contactGroup.getId().get() | escape }}">Kontakt hinzuf&uuml;gen</a>
    </div>
    {% endif %}
    {% if pagination.hasPages() %}
    <div class="ui segment bottom clearing" style="margin-bottom: 30px;">
        <div class="ui right floated pagination menu">
            {% include '/webserver/template/contact/user/pagination.html' with {pagination: pagination} %}
        </div>
    </div>
    {% endif %}
</main>
</body>
</html>