<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung Admin</title>
    {% include '/webserver/template/header.html' %}
</head>
<body>
{% include '/webserver/template/automation/admin/headline.html' with {module: 'admin'} %}
<main class="ui main container">
    <div class="ui segment">
        <div class="ui link cards four column doubling stackable">
            <div class="card" onclick="window.location = '/automation/admin/device'">
                <div class="image">
                    <img src="/static/img/icon/device.png">
                </div>
                <div class="content">
                    <div class="header">Ger&auml;te</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/automation/admin/switchserver'">
                <div class="image">
                    <img src="/static/img/icon/switchserver.png">
                </div>
                <div class="content">
                    <div class="header">Schaltserver</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/automation/admin/sensorvalues'">
                <div class="image">
                    <img src="/static/img/icon/sensorvalues.png">
                </div>
                <div class="content">
                    <div class="header">Sensorwerte</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/automation/admin/room'">
                <div class="image">
                    <img src="/static/img/icon/room.png">
                </div>
                <div class="content">
                    <div class="header">R&auml;ume</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/automation/admin/timer'">
                <div class="image">
                    <img src="/static/img/icon/timer.png">
                </div>
                <div class="content">
                    <div class="header">Timer</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/automation/admin/settings'">
                <div class="image">
                    <img src="/static/img/icon/settings.png">
                </div>
                <div class="content">
                    <div class="header">Einstellungen</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>