<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filme Dashboard</title>
    {% include '/webserver/template/header.html' %}
    <link rel="manifest" href="/static/manifest/moviemanifest.json">
</head>
<body>
{% include '/webserver/template/movie/user/headline.html' with {module: 'dash'} %}
<main class="ui main">
    <div class="ui container" style="margin-bottom: 20px;">
        <h1 class="ui header top attached">neuste Filme {% if newestMoviesCount > 4 %}<a class="ui button right floated" href="/movie/newmovies">alle</a>{% endif %}</h1>
        <div class="ui link cards four column doubling stackable bottom attached">
            {% for element in newestMovies %}
            <div class="card" onclick="window.location = '{% if element.isInMovieBox() %}/movie/movieboxview?id={{ element.getBoxId().get().get() }}#{{ element.getId().get() }}{% else %}/movie/movieview?id={{ element.getId().get() }}{% endif %}'">
                <div class="ui card">
                    <div class="image">
                        {% if element.getCoverFile() != null %}
                        <img src="/movie/cover?file={{ element.getCoverFile() }}">
                        {% else %}
                        <img src="/static/img/noimage.gif">
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="ui">
                            <div class="header">{{ element.getTitle() | escape }}</div>
                            <div class="meta">
                                {{ genreEditor.getById(element.getGenreId()).get().getName() | escape }}
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            {{ element.getDuration() | minuteformat }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if viewSoonMovies.size() > 0 %}
    <div class="ui container" style="margin-bottom: 20px;">
        <h1 class="ui header top attached">Demn&auml;chst anschauen {% if viewSoonMoviesCount > 4 %}<a class="ui button right floated" href="/movie/viewsonnmovies">alle</a>{% endif %}</h1>
        <div class="ui link cards four column doubling stackable bottom attached">
            {% for element in viewSoonMovies %}
            <div class="card" onclick="window.location = '{% if element.isInMovieBox() %}/movie/movieboxview?id={{ element.getBoxId().get().get() }}#{{ element.getId().get() }}{% else %}/movie/movieview?id={{ element.getId().get() }}{% endif %}'">
                <div class="ui card">
                    <div class="image">
                        {% if element.getCoverFile() != null %}
                        <img src="/movie/cover?file={{ element.getCoverFile() }}">
                        {% else %}
                        <img src="/static/img/noimage.gif">
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="ui">
                            <div class="header">{{ element.getTitle() | escape }}</div>
                            <div class="meta">
                                {{ genreEditor.getById(element.getGenreId()).get().getName() | escape }}
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            {{ element.getDuration() | minuteformat }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="ui container">
        <h1 class="ui header top attached">Beste Bewertung</h1>
        <div class="ui link cards four column doubling stackable bottom attached">
            {% for element in bestRatedMovies %}
            <div class="card" onclick="window.location = '{% if element.isInMovieBox() %}/movie/movieboxview?id={{ element.getBoxId().get().get() }}#{{ element.getId().get() }}{% else %}/movie/movieview?id={{ element.getId().get() }}{% endif %}'">
                <div class="ui card">
                    <div class="image">
                        {% if element.getCoverFile() != null %}
                        <img src="/movie/cover?file={{ element.getCoverFile() }}">
                        {% else %}
                        <img src="/static/img/noimage.gif">
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="ui">
                            <div class="header">{{ element.getTitle() | escape }}</div>
                            <div class="meta">
                                {{ genreEditor.getById(element.getGenreId()).get().getName() | escape }}
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            {{ element.getDuration() | minuteformat }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
</body>
</html>