<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung R&auml;me</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">
        $(function() {

            $('.checkbox').checkbox();
            $('.ui.accordion').accordion();
            $('.dropdown').dropdown();


            {% if addElement == false %}
            $('#iconFile').dropdown().dropdown('set selected', '{{ roomelement.getIconFile() }}');
            $('#virtualSensorValueId').dropdown().dropdown('set selected', '{{ roomelement.getVirtualSensorId().get() }}');
            {% endif %}
        });

        function openIconChooser(icon) {

            if(icon != null) {

                //vorausgewähltes Icon
                var category = icon.substring(0, icon.indexOf('/'));
                var iconFile = icon.substring(icon.indexOf('/') + 1);
                $('.ui.form').form('set values', {
                    iconCategory : category
                });
                loadIcons(category, iconFile);

                $('#iconChooser').modal({ observeChanges: true });
                $('#iconChooser').modal('show');
            } else {

                //nur dialog öffnen
                $('#iconChooser').modal({ observeChanges: true });
                $('#iconChooser').modal('show');
            }
        }

        function loadIcons(category, iconFile) {

            if(category == null) {

                category = $('#iconCategory').val();
            }
            $.getJSON('/automation/admin/iconchooser?cat=' + category)
                .done(function(data, textStatus) {

                    if(data.icons) {

                        $('#icons').addClass('loading');
                        var html = "";
                        for(var i = 0; i < data.icons.length; i++) {

                            var icon = data.icons[i];
                            if(iconFile != null && iconFile == icon.substring(icon.indexOf('/') + 1)) {

                                html += '<div class="column grey" style="cursor: pointer;" onclick="chooseIcon(\'' + icon + '\');"><img class="ui image fluid" src="/static/img/iconset/' + icon + '"></div>';
                            } else {

                                html += '<div class="column" style="cursor: pointer;" onclick="chooseIcon(\'' + icon + '\');"><img class="ui image fluid" src="/static/img/iconset/' + icon + '"></div>';
                            }
                        }
                        $('#icons').html(html);
                        $('#icons').removeClass('loading');
                    } else {

                        //Fehler aufgetreten
                        if(data.message) {

                            $('#iconMessageText').text(data.message);
                            $('#iconMessage').show();
                        } else {

                            $('#iconMessageText').text("keine Icons gefunden");
                            $('#iconMessage').show();
                        }
                    }
                })
                .fail(function () {

                    //Fehler
                    $('#iconMessageText').text("Anfrage Fehlgeschlagen");
                    $('#iconMessage').show();
                });
        }

        function chooseIcon(icon) {

            $('.ui.form').form('set values', {
                iconFile : icon
            });
            $('#iconImage').attr('src','/static/img/iconset/' + icon);
            $('#iconChooser').modal('hide');
        }
    </script>
</head>
<body>
{% if dashboard %}
{% include '/webserver/template/automation/admin/headline.html' with {module: 'dashboard'} %}
{% else %}
{% include '/webserver/template/automation/admin/headline.html' with {module: 'room'} %}
{% endif %}
<main class="ui main container">
    <form class="ui form"  action="/automation/admin/roomvirtualsensorelementform?{% if dashboard %}dash&{% endif %}roomid={{ room.getId().get() | escape }}&id={{ roomelement.getId().get() | escape }}" method="post">
        <h1 class="ui header top attached">Virtueller Sensor {% if addElement %}hinzuf&uuml;gen{% else %}bearbeiten{% endif %}</h1>
        {% if error is defined %}
        <div class="ui visible icon message error attached">
            <i class="remove icon red"></i>
            <div class="content">
                <p>{{ error | escape }}</p>
            </div>
        </div>
        <div class="ui segment attached">
            <div class="ui button basic primary" onclick="window.history.back()">zur&uuml;ck</div>
        </div>
        {% else %}
        <div class="ui segment attached">
            <input type="hidden" name="addElement" value="{% if addElement %}1{% else %}0{% endif %}">
            <div class="field required">
                <label>Name</label>
                <input name="name" type="text" {% if addElement %}value=""{% else %}value="{{ roomelement.getName() | escape }}"{% endif %} pattern=".{3,50}" required>
            </div>
            <div class="field required">
                <label>Anzeigetext</label>
                <input name="displayText" type="text" {% if addElement %}value=""{% else %}value="{{ roomelement.getDisplayText() | escape }}"{% endif %} pattern=".{3,50}" required>
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea name="description" type="text" minlength="0" maxlength="250" rows="5">{% if roomelement.getDescription().isPresent() %}{{ roomelement.getDescription().get() | escape }}{% endif %}</textarea>
            </div>
            <div class="fields">
                <div class="one wide field">
                    <img class="ui image fluid" src="{% if not addElement %}/static/img/iconset/{{ roomelement.getIconFile() | escape }}{% endif %}" id="iconImage">
                </div>
                <div class="eleven wide field required">
                    <label>Icon</label>
                    <input name="iconFile" type="text" {% if addElement %}value=""{% else %}value="{{ roomelement.getIconFile() | escape }}"{% endif %} readonly>
                </div>
                <div class="four wide field">
                    <label>Auswahl</label>
                    <div class="ui button fluid secondary basic" onclick="{% if addElement %}openIconChooser();{% else %}openIconChooser('{{ roomelement.getIconFile() | escape }}');{% endif %}">Ausw&auml;hlen</div>
                </div>
                <div class="ui modal" id="iconChooser">
                    <div class="header">
                        Icon Auswahl
                    </div>
                    <div class="scrolling content" style="min-height: 50%;">
                        <div class="ui basic segment">
                            <select class="ui dropdown fluid" onchange="loadIcons();" id="iconCategory" name="iconCategory">
                                <option value="">Kategorie</option>
                                {% for iconCategory in iconCategorys %}
                                <option value="{{ iconCategory | escape }}">{{ iconCategory | escape }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="ui basic segment" id="iconMessage" style="display: none;">
                            <div class="ui message icon error">
                                <i class="remove icon red"></i>
                                <div class="content">
                                    <p id="iconMessageText"></p>
                                </div>
                            </div>
                        </div>
                        <div class="ui basic segment">
                            <div class="ui grid six column doubling" id="icons">

                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui black deny button">
                            Abbrechen
                        </div>
                    </div>
                </div>
            </div>
            <div class="field required">
                <label>Virtueller Sensorwert</label>
                <div class="ui selection dropdown required search" id="virtualSensorValueId">
                    <input type="hidden" name="virtualSensorValueId" required>
                    <i class="dropdown icon"></i>
                    <div class="default text">Icon</div>
                    <div class="menu">
                        {% for sensorValue in sensorValues %}
                        <div class="item" data-value="{{ sensorValue.getId() | escape }}">
                            {{ sensorValue.getName() | escape }} - ({{ sensorValue | formatsensortype | escape }})
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <div class="field required">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="disabled" class="hidden" {% if roomelement.isDisabled() %}checked="checked"{% endif %}>
                        <label>deaktiviert</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment bottom attached">
            <div class="ui button basic secondary" onclick="window.history.back()">Zurück</div>
            <button class="ui button primary" type="submit">Speichern</button>
        </div>
        {% endif %}
    </form>
</main>
</body>
</html>