{% set randomId = randomstr() %}
{% set randomId1 = randomstr() %}
{% set randomId2 = randomstr() %}
<div class="eight wide column">
    <div class="ui unstackable items">
        <div class="item">
            <div class="ui image tiny middle aligned">
                <img src="/static/img/iconset/{{ element.getIconFile() | escape }}">
            </div>
            <div class="content middle aligned ">
                <div class="header centered">
                    {{ element.getDisplayText() | escape }}
                </div>
                <div class="extra">
                    <div class="ui fluid buttons">
                        {% if element.isDoubleButton() %}
                            {% if element.isSafetyRequestEnabled() %}
                                <div class="ui button basic green" onclick="$('#{{ randomId }}').modal('show')" id="a{{ element.getId().get() }}_on">
                                    {{ element.getOnButtonText() | escape }}
                                </div>
                                <div class="ui button basic red" onclick="$('#{{ randomId1 }}').modal('show')" id="a{{ element.getId().get() }}_off">
                                    {{ element.getOffButtonText() | escape }}
                                </div>
                                <div class="ui basic modal" id="{{ randomId }}">
                                    <div class="ui icon header">
                                        <i class="{{ element.getSafetyRequestIcon() | escape }} icon"></i>
                                        {{ element.getSafetyRequestHeaderText() | escape }}
                                    </div>
                                    <div class="content">
                                        <p>{{ element.getSafetyRequestText() | escape }}</p>
                                    </div>
                                    <div class="actions">
                                        <div class="ui red basic cancel inverted button">
                                            <i class="remove icon"></i>
                                            {{ element.getSafetyRequestCancelButtonText() | escape }}
                                        </div>
                                        <div class="ui green ok inverted button" onclick="switchDevice('{{ activeRoom.getId().get() | escape }}', '{{ element.getId().get() | escape }}', 'on')">
                                            <i class="checkmark icon"></i>
                                            {{ element.getSafetyRequestExecuteButtonText() | escape }}
                                        </div>
                                    </div>
                                </div>
                                <div class="ui basic modal" id="{{ randomId1 }}">
                                    <div class="ui icon header">
                                        <i class="{{ element.getSafetyRequestIcon() | escape }} icon"></i>
                                        {{ element.getSafetyRequestHeaderText() | escape }}
                                    </div>
                                    <div class="content">
                                        <p>{{ element.getSafetyRequestText() | escape }}</p>
                                    </div>
                                    <div class="actions">
                                        <div class="ui red basic cancel inverted button">
                                            <i class="remove icon"></i>
                                            {{ element.getSafetyRequestCancelButtonText() | escape }}
                                        </div>
                                        <div class="ui green ok inverted button" onclick="switchDevice('{{ activeRoom.getId().get() | escape }}', '{{ element.getId().get() | escape }}', 'off')">
                                            <i class="checkmark icon"></i>
                                            {{ element.getSafetyRequestExecuteButtonText() | escape }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="ui button basic green" onclick="switchDevice('{{ activeRoom.getId().get() | escape }}', '{{ element.getId().get() | escape }}', 'on');" id="a{{ element.getId().get() }}_on">{{ element.getOnButtonText() | escape }}</div>
                                <div class="ui button basic red" onclick="switchDevice('{{ activeRoom.getId().get() | escape }}', '{{ element.getId().get() | escape }}', 'off');" id="a{{ element.getId().get() }}_off">{{ element.getOffButtonText() | escape }}</div>
                            {% endif %}
                        {% else %}
                            {% if element.isSafetyRequestEnabled() %}
                                <div class="ui button basic orange" onclick="$('#{{ randomId2 }}').modal('show')">{{ element.getOnButtonText() | escape }}</div>
                                <div class="ui basic modal" id="{{ randomId2 }}">
                                    <div class="ui icon header">
                                        <i class="{{ element.getSafetyRequestIcon() | escape }} icon"></i>
                                        {{ element.getSafetyRequestHeaderText() | escape }}
                                    </div>
                                    <div class="content">
                                        <p>{{ element.getSafetyRequestText() | escape }}</p>
                                    </div>
                                    <div class="actions">
                                        <div class="ui red basic cancel inverted button">
                                            <i class="remove icon"></i>
                                            {{ element.getSafetyRequestCancelButtonText() | escape }}
                                        </div>
                                        <div class="ui green ok inverted button" onclick="switchDevice('{{ activeRoom.getId().get() | escape }}', '{{ element.getId().get() | escape }}', 'on')">
                                            <i class="checkmark icon"></i>
                                            {{ element.getSafetyRequestExecuteButtonText() | escape }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="ui button basic orange" onclick="switchDevice('{{ activeRoom.getId().get() | escape }}', '{{ element.getId().get() | escape }}', 'on')">{{ element.getOnButtonText() | escape }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>