<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung Ger&auml;te</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">
        $(function() {

            $('.checkbox').checkbox();
        });
    </script>
</head>
<body>
{% include '/webserver/template/automation/admin/headline.html' with {module: 'device'} %}
<main class="ui main container">
    <form class="ui form"  action="/automation/admin/deviceformscriptdouble?id={{ script.getId().get() | escape }}" method="post">
        <h1 class="ui header top attached">Script (an/aus) {% if addElement %}hinzuf&uuml;gen{% else %}bearbeiten{% endif %}</h1>
        {% if error is defined %}
        <div class="ui visible icon message error attached">
            <i class="remove icon red"></i>
            <div class="content">
                <p>{{ error | escape }}</p>
            </div>
        </div>
        <div class="ui segment attached">
            <div class="ui button basic primary" onclick="window.history.back()">zur&uuml;ck</div>
        </div>
        {% else %}
        <div class="ui segment attached">
            <input type="hidden" name="addElement" value="{% if addElement %}1{% else %}0{% endif %}">
            <div class="field required">
                <label>Name</label>
                <input name="name" type="text" {% if addElement %}value=""{% else %}value="{{ script.getName() | escape }}"{% endif %} pattern=".{3,50}" required>
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea name="description" type="text" minlength="0" maxlength="250" rows="5">{% if script.getDescription().isPresent() %}{{ script.getDescription().get() | escape }}{% endif %}</textarea>
            </div>
            <div class="ui icon message info">
                <i class="info circle icon black"></i>
                <div class="content">
                    <div class="content">
                        <p>Jedes Befehlssegment muss in eine neue Zeile geschrieben werden</p>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var nextIndexOn = 1;
                var nextIndexOff = 1;

                function addOnInputField() {

                    $('#commandInputsOn').append('<input name="on_command_' + nextIndexOn + '" type="text" placeholder="Befehl ...">');
                    nextIndexOn++;
                };
                function addOffInputField() {

                    $('#commandInputsOff').append('<input name="off_command_' + nextIndexOff + '" type="text" placeholder="Befehl ...">');
                    nextIndexOff++;
                };
            </script>
            <div class="field required">
                <label>An Befehl</label>
                <div id="commandInputsOn">
                    {% if script.getOnCommand().size() > 0 %}
                        {% for entry in script.getOnCommand() %}
                            {% if loop.first %}
                                <input name="on_command_{{ loop.index0 }}" type="text" value="{{ entry | escape }}" required>
                            {% else %}
                                <input name="on_command_{{ loop.index0 }}" type="text" value="{{ entry | escape }}">
                            {% endif %}
                            {% if loop.last %}
                                    <script type="text/javascript">
                                        nextIndexOn = {{ loop.index }};
                                    </script>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <input name="on_command_0" type="text" placeholder="Befehl ..." required>
                    {% endif %}
                </div>
            </div>
            <div class="field required">
                <label>Aus Befehl</label>
                <div id="commandInputsOff">
                    {% if script.getOffCommand().size() > 0 %}
                        {% for entry in script.getOffCommand() %}
                            {% if loop.first %}
                                <input name="off_command_{{ loop.index0 }}" type="text" value="{{ entry | escape }}" required>
                            {% else %}
                                <input name="off_command_{{ loop.index0 }}" type="text" value="{{ entry | escape }}">
                            {% endif %}
                            {% if loop.last %}
                                    <script type="text/javascript">
                                        nextIndexOff = {{ loop.index }};
                                    </script>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <input name="off_command_0" type="text" placeholder="Befehl ..." required>
                    {% endif %}
                </div>
            </div>
            <div class="ui segment">
                <div class="field required">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="disabled" class="hidden" {% if script.isDisabled() %}checked="checked"{% endif %}>
                        <label>deaktiviert</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment bottom attached">
            <div class="ui button basic secondary" onclick="window.history.back()">Zurück</div>
            <div class="ui icon secondary basic button" onclick="addOnInputField();"><i class="icon plus"></i> neue An Befehlszeile</div>
            <div class="ui icon secondary basic button" onclick="addOffInputField();"><i class="icon plus"></i> neue Aus Befehlszeile</div>
            <button class="ui button primary" type="submit">Speichern</button>
        </div>
        {% endif %}
    </form>
</main>
</body>
</html>