<aside>
    <div class="ui left vertical inverted sidebar labeled icon menu scale down">
        <a href="/index" class="item">
            <img src="/static/img/icon/global.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            SmartHome
        </a>
        <a href="/automation/index" class="item  {% if module == 'automation' %}active{% endif %}">
            <img src="/static/img/icon/automation.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Automatisierung
        </a>
        <a href="/movie/index" class="item {% if module == 'movie' %}active{% endif %}">
            <img src="/static/img/icon/movie.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Filme
        </a>
        <a href="/music/index" class="item {% if module == 'music' %}active{% endif %}">
            <img src="/static/img/icon/music.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Musik
        </a>
        <a href="/picture/index" class="item {% if module == 'picture' %}active{% endif %}">
            <img src="/static/img/icon/picture.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Bilder
        </a>
        <a href="/recipe/index" class="item {% if module == 'recipe' %}active{% endif %}">
            <img src="/static/img/icon/recipe.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Rezepte
        </a>
        <a href="/shoppinglist/index" class="item {% if module == 'shoppinglist' %}active{% endif %}">
            <img src="/static/img/icon/shoppinglist.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Einkaufsliste
        </a>
        <a href="/calendar/index" class="item {% if module == 'calendar' %}active{% endif %}">
            <img src="/static/img/icon/calendar.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Kalender
        </a>
        <a href="/contact/index" class="item {% if module == 'contact' %}active{% endif %}">
            <img src="/static/img/icon/contact.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Kontakte
        </a>
    </div>
</aside>