<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartHome</title>
    {% include '/webserver/template/header.html' %}
    <link rel="manifest" href="/static/manifest/globalmanifest.json">
    <script type="text/javascript">
        var mobileView = {% if mobileView %}true{% else %}false{% endif %};
        $(function() {

            $('.ui.dropdown').dropdown();

            //Bildschirmorientierung ermitteln
            var height = $(window).height();
            var width = $(window).width();
            if(width < height) {

                //Smallscreen
                $('#widescreen').hide();
                $('#smallscreen').show();
                if(!mobileView) {

                    $.get({url: "/mobileview?mobile"});
                }
            } else {

                //Widescreen
                $('#widescreen').show();
                $('#smallscreen').hide();
                if(mobileView) {

                    $.get({url: "/mobileview"});
                }
            }
        });
    </script>
</head>
<body>
<header>
    <div class="ui fixed inverted menu large stackable" id="widescreen" {% if mobileView %}style="display: none;"{% endif %}>
        <a href="/index" class="header item">
            <img src="/static/img/icon/global.png" width="32" height="32" class="logo">
            SmartHome
        </a>
        <div class="right menu">
            <a href="/admin/index" class="item"><i class="setting icon large"></i></a>
        </div>
    </div>
    <div class="ui fixed inverted menu large" id="smallscreen" {% if not mobileView %}style="display: none;"{% endif %}>
        <a href="/index" class="header item">
            <img src="/static/img/icon/global.png" width="32" height="32" class="logo">
            SmartHome
        </a>
        <div class="right menu">
            <div class="ui dropdown item">
                <i class="bars icon"></i>
                <div class="menu">
                    <a href="/admin/index" class="item">
                        <i class="setting icon large"></i>
                        Einstellungen
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="ui main container">
    <div class="ui segment">
        <div class="ui link cards four column doubling stackable">
            <div class="card" onclick="window.location = '/automation/index'">
                <div class="image">
                    <img src="/static/img/icon/automation.png">
                </div>
                <div class="content">
                    <div class="header">Automatisierung</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/movie/index'">
                <div class="image">
                    <img src="/static/img/icon/movie.png">
                </div>
                <div class="content">
                    <div class="header">Filme</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/recipe/index'">
                <div class="image">
                    <img src="/static/img/icon/recipe.png">
                </div>
                <div class="content">
                    <div class="header">Rezepte</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/shoppinglist/index'">
                <div class="image">
                    <img src="/static/img/icon/shoppinglist.png">
                </div>
                <div class="content">
                    <div class="header">Einkaufsliste</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/contact/index'">
                <div class="image">
                    <img src="/static/img/icon/contact.png">
                </div>
                <div class="content">
                    <div class="header">Kontakte</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/contract/index'">
                <div class="image">
                    <img src="/static/img/icon/contract.png">
                </div>
                <div class="content">
                    <div class="header">Vertr&auml;ge</div>
                </div>
            </div>
            <div class="card" onclick="window.location = '/network/index'">
                <div class="image">
                    <img src="/static/img/icon/network.png">
                </div>
                <div class="content">
                    <div class="header">Netzwerk</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>