<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung</title>
    {% include '/webserver/template/header.html' %}
    <script src="/static/notify/notify.min.js"></script>
    <link rel="manifest" href="/static/manifest/automationmanifest.json">
    <script type="text/javascript">

    </script>
</head>
<body>
{% include '/webserver/template/automation/user/headline.html' with {module: "dash", rooms: rooms} %}
<main class="ui main">
    <div class="ui container" style="margin-bottom: 20px;">
        <h1 class="ui header top attached">
            <img src="/static/img/iconset/{{ activeRoom.getIconFile() | escape }}" class="ui image">
            {{ activeRoom.getDisplayText() | escape }}
        </h1>
        {% if success is defined %}
        <div class="ui attached message icon {% if success %}success{% else %}error{% endif %}">
            {% if success %}
            <i class="check icon green"></i>
            {% else %}
            <i class="remove icon red"></i>
            {% endif %}
            <div class="content">
                <p>{{ message | escape }}</p>
            </div>
        </div>
        {% else %}
        <div class="ui segment bottom attached">



        </div>
        {% endif %}
    </div>
</main>
</body>
</html>