<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung</title>
    {% include '/webserver/template/header.html' %}
    <link rel="manifest" href="/static/manifest/automationmanifest.json">
</head>
<body>
{% include '/webserver/template/automation/user/headline.html' %}
<main class="ui main container">
    <div class="ui segment">
        <div class="ui link cards four column doubling stackable">
            <div class="card" onclick="window.location = ''">
                <div class="image">
                    <img src="/static/img/icon/smart.png">
                </div>
                <div class="content">
                    <div class="header">SmartHome</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>