<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung Timer</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">

        var deviceCount = {% if addElement %}0{% else %}{{ usedElementCount }}{% endif %};

        $(function() {

            $('.checkbox').checkbox();
            $('.dropdown').dropdown();

            //Anzahl der ausgewählten Geräte prüfen
            $('#timer').submit(function() {

                if(deviceCount <= 0) {

                    //keine geräte ausgewählt
                    alert("Es wurden keine Geräte ausgewählt");
                    return false;
                }
                return true;
            });
        });
    </script>
</head>
<body>
{% include '/webserver/template/automation/admin/headline.html' with {module: 'timer'} %}
<main class="ui main container">
    <form class="ui form" id="timer" action="/automation/admin/timerform?id={{ timer.getId().get() | escape }}" method="post">
        <h1 class="ui header top attached">Timer {% if addElement %}hinzuf&uuml;gen{% else %}bearbeiten{% endif %}</h1>
        {% if error is defined %}
        <div class="ui visible icon message error attached">
            <i class="remove icon red"></i>
            <div class="content">
                <p>{{ error | escape }}</p>
            </div>
        </div>
        <div class="ui segment attached">
            <div class="ui button basic primary" onclick="window.history.back()">zur&uuml;ck</div>
        </div>
        {% else %}
        <div class="ui segment attached">
            <input type="hidden" name="addElement" value="{% if addElement %}1{% else %}0{% endif %}">
            <div class="field required">
                <label>Name</label>
                <input name="name" type="text" {% if addElement %}value=""{% else %}value="{{ timer.getName() | escape }}"{% endif %} pattern=".{3,50}" required>
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea name="description" type="text" minlength="0" maxlength="250" rows="5">{% if timer.getDescription().isPresent() %}{{ timer.getDescription().get() | escape }}{% endif %}</textarea>
            </div>
            <div class="field required">
                <label>Monat</label>
                <select class="ui dropdown" name="month" multiple required>
                    <option value="*" {% if timer.getMonth().size() == 0 %}selected{% endif %}>jeden</option>
                    {% for i in [1..12] %}
                    <option value="{{ i }}" {% if timer.getMonth() | contains(i)  %}selected{% endif %}>{{ i | monthname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field required">
                <label>Wochentag</label>
                <select class="ui dropdown" name="weekday" multiple required>
                    <option value="*" {% if timer.getWeekday().size() == 0 %}selected{% endif %}>jeden</option>
                    {% for i in [1..7] %}
                    <option value="{{ i }}" {% if timer.getWeekday() | contains(i) %}selected{% endif %}>{{ i | weekdayname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field required">
                <label>Tag</label>
                <select class="ui dropdown" name="day" multiple required>
                    <option value="*" {% if timer.getDay().size() == 0 %}selected{% endif %}>jeden</option>
                    {% for i in [1..31] %}
                    <option value="{{ i }}" {% if timer.getDay() | contains(i) %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field required">
                <label>Stunde</label>
                <select class="ui dropdown" name="hour" multiple required>
                    <option value="*" {% if timer.getHour().size() == 0 %}selected{% endif %}>jede</option>
                    {% for i in [0..23] %}
                    <option value="{{ i }}" {% if timer.getHour() | contains(i) %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field required">
                <label>Minute</label>
                <select class="ui dropdown" name="minute" multiple required>
                    <option value="*" {% if timer.getMinute().size() == 0 %}selected{% endif %}>jede</option>
                    {% for i in [0..59] %}
                    <option value="{{ i }}" {% if timer.getMinute() | contains(i) %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ui segment">
                <div class="field required">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="disabled" class="hidden" {% if timer.isDisabled() %}checked="checked"{% endif %}>
                        <label>deaktiviert</label>
                    </div>
                </div>
            </div>
            <h5 class="ui segment attached top ">schaltbare Elemente</h5>
            <div class="ui segment attached">
                <div class="ui divided items" id="switchables">
                    {% set doubleSwitchableNextIndex = 1 %}
                    {% set singleSwitchableNextIndex = 1 %}
                    {% for command in timer.getCommands() %}
                        {% if command.getType() == 'COMMAND_SWITCH' and doubleSwitchables.containsKey(command.getSwitchableId().get()) %}
                            {% set switchable = doubleSwitchables.get(command.getSwitchableId().get()) %}
                            <div class="item" id="a{{ switchable.getId().get() | escape }}">
                                <div class="content">
                                    <div class="header">{{ switchable.getName() | escape }}</div>
                                    <div class="extra">
                                        <div class="ui right floated red basic icon button" onclick="removeDoubleSwitchable('{{ switchable.getId().get() | escape }}');">
                                            <i class="remove icon"></i>
                                        </div>
                                        {% if command.getCommand() == 'on' %}
                                        <div class="ui label green">an</div>
                                        {% elseif command.getCommand() == 'off' %}
                                        <div class="ui label red">aus</div>
                                        {% else %}
                                        <div class="ui label blue">umschalten</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <input type="hidden" name="doubleSwitchableElement_{{ doubleSwitchableNextIndex }}" value="{{ switchable.getId().get() | escape }}">
                                <input type="hidden" name="doubleSwitchableCommand_{{ doubleSwitchableNextIndex }}" value="{{ command.getCommand() | escape}}">
                            </div>
                            {% set doubleSwitchableNextIndex = doubleSwitchableNextIndex + 1 %}
                        {% elseif command.getType() == 'COMMAND_SWITCH' and singleSwitchables.containsKey(command.getSwitchableId().get()) %}
                            {% set switchable = singleSwitchables.get(command.getSwitchableId().get()) %}
                            <div class="item" id="a{{  switchable.getId().get() | escape }}">
                                <div class="content">
                                    <div class="header">{{ switchable.getName() | escape }}</div>
                                    <div class="extra">
                                        <div class="ui right floated red basic icon button" onclick="removeSingleSwitchable('{{ switchable.getId().get() | escape }}');">
                                            <i class="remove icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="singleSwitchableElement_{{ singleSwitchableNextIndex }}" value="{{ switchable.getId().get() | escape }}">
                            </div>
                            {% set singleSwitchableNextIndex = singleSwitchableNextIndex + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="ui segment attached bottom">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <div id="doubleSwitchable" class="ui dropdown selection fluid">
                            <input name="doubleSwitchable" value="" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">schaltbares Element (an/aus)</div>
                            <div class="menu">
                                {% for key, switchable in doubleSwitchables %}
                                    {% if usedElementIds.contains(switchable.getId().get()) %}
                                    <div class="item disabled" data-value="{{ switchable.getId() }}">{{ switchable.getName() | escape }}</div>
                                    {% else %}
                                    <div class="item" data-value="{{ switchable.getId() }}">{{ switchable.getName() | escape }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <select id="command"  class="ui dropdown fluid">
                            <option value="">Befehl</option>
                            <option value="on">an</option>
                            <option value="off">aus</option>
                            <option value="toggle">umschalten</option>
                        </select>
                    </div>
                    <div class="one wide column">
                        <button class="ui button icon secondary basic" type="button" id="addDoubleSwitchable"><i class="add icon"></i></button>
                    </div>
                    <div class="fifteen wide column">
                        <div id="singleSwitchable" class="ui dropdown selection fluid">
                            <input name="singleSwitchable" value="" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">schaltbares Element (einfach)</div>
                            <div class="menu">
                                {% for key, switchable in singleSwitchables %}
                                    {% if usedElementIds.contains(switchable.getId().get()) %}
                                    <div class="item disabled" data-value="{{ switchable.getId() }}">{{ switchable.getName() | escape }}</div>
                                    {% else %}
                                    <div class="item" data-value="{{ switchable.getId() }}">{{ switchable.getName() | escape }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="one wide column">
                        <button class="ui button icon secondary basic" type="button" id="addSingleSwitchable"><i class="add icon"></i></button>
                    </div>
                </div>
            </div>
            <h5 class="ui segment attached top ">Rolll&auml;den</h5>
            <div class="ui segment attached">
                <div class="ui divided items" id="shutters">
                    {% set shutterNextIndex = 1 %}
                    {% for command in timer.getCommands() %}
                        {% if command.getType() == 'COMMAND_MOVE' and shutters.containsKey(command.getShutterId().get()) %}
                            {% set shutter = shutters.get(command.getShutterId().get()) %}
                            <div class="item" id="a{{  shutter.getId().get() | escape }}">
                                <div class="content">
                                    <div class="header">{{ shutter.getName() | escape }}</div>
                                    <div class="extra">
                                        <div class="ui right floated red basic icon button" onclick="removeShutter('{{ shutter.getId().get() | escape }}');">
                                            <i class="remove icon"></i>
                                        </div>
                                        <div class="ui label teal">{{ command.getTargetLevel() | escape }} %</div>
                                    </div>
                                </div>
                                <input type="hidden" name="shutterElement_{{ shutterNextIndex }}_id" value="{{ shutter.getId().get() | escape }}">
                                <input type="hidden" name="shutterElement_{{ shutterNextIndex }}_level" value="{{ command.getTargetLevel() | escape }}">
                            </div>
                            {% set shutterNextIndex = shutterNextIndex + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="ui segment attached bottom">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <div id="shutter" class="ui dropdown selection fluid">
                            <input name="shutter" value="" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">Rolll&auml;den</div>
                            <div class="menu">
                                {% for key, shutter in shutters %}
                                {% if usedShutterIds.contains(shutter.getId().get()) %}
                                <div class="item disabled" data-value="{{ shutter.getId() }}">{{ shutter.getName() | escape }}</div>
                                {% else %}
                                <div class="item" data-value="{{ shutter.getId() }}">{{ shutter.getName() | escape }}</div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <input class="ui input" type="number" min="0" max="100" step="1" id="shutterLevel" placeholder="0">
                    </div>
                    <div class="one wide column">
                        <button class="ui button icon secondary basic" type="button" id="addShutter"><i class="add icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            //Schaltbare Elemente
            function removeDoubleSwitchable(id) {

                $('#a' + id).remove();
                $("#doubleSwitchable").find('.menu .item[data-value=' + id + ']').removeClass('disabled');
                deviceCount--;
            }
            function removeSingleSwitchable(id) {

                $('#a' + id).remove();
                $("#singleSwitchable").find('.menu .item[data-value=' + id + ']').removeClass('disabled');
                deviceCount--;
            }

            $(function() {

                var nextDoubleSwitchableIndex = {{ doubleSwitchableNextIndex }};
                var nextSingleSwitchableIndex = {{ singleSwitchableNextIndex }};

                //Doppelschaltelement
                $('#addDoubleSwitchable').click(function() {

                    var selectedId = $("#doubleSwitchable").dropdown('get value');
                    var selectedName = $("#doubleSwitchable").dropdown('get text');
                    var selectedCommandValue = $("#command").dropdown('get value');
                    var selectedCommandName = $("#command").dropdown('get text');

                    if(selectedId.length > 0 && selectedCommandValue.length > 0) {

                        $('#switchables').append(
                        '<div class="item" id="a' + selectedId + '">' +
                        '   <div class="content">' +
                        '       <div class="header">' + selectedName + '</div>'+
                        '       <div class="extra">' +
                        '           <div class="ui right floated red basic icon button" onclick="removeDoubleSwitchable(\'' + selectedId + '\');">' +
                        '               <i class="remove icon"></i>' +
                        '           </div>' +
                        '           <div class="ui label ' + (selectedCommandValue == "on" ? "green" : (selectedCommandValue == "toggle" ? "blue" : "red")) + '">' + (selectedCommandValue == "on" ? "an" : (selectedCommandValue == "toggle" ? "umschalten" : "aus")) + '</div>' +
                        '       </div>' +
                        '   </div>' +
                        '   <input type="hidden" name="doubleSwitchableElement_' + nextDoubleSwitchableIndex + '" value="' + selectedId + '">' +
                        '   <input type="hidden" name="doubleSwitchableCommand_' + nextDoubleSwitchableIndex + '" value="' + selectedCommandValue + '">' +
                        '</div>'
                        );
                        $("#doubleSwitchable").dropdown('clear');
                        $("#doubleSwitchable").find('.menu .item[data-value=' + selectedId + ']').addClass('disabled');
                        $("#command").dropdown('clear');
                        nextDoubleSwitchableIndex++;
                        deviceCount++;
                    }
                });

                //Einfachschaltelement
                $('#addSingleSwitchable').click(function() {

                    var selectedId = $("#singleSwitchable").dropdown('get value');
                    var selectedName = $("#singleSwitchable").dropdown('get text');

                    if(selectedId.length > 0) {

                        $('#switchables').append(
                        '<div class="item" id="a' + selectedId + '">' +
                        '   <div class="content">' +
                        '       <div class="header">' + selectedName + '</div>'+
                        '       <div class="extra">' +
                        '           <div class="ui right floated red basic icon button" onclick="removeSingleSwitchable(\'' + selectedId + '\');">' +
                        '               <i class="remove icon"></i>' +
                        '           </div>' +
                        '       </div>' +
                        '   </div>' +
                        '   <input type="hidden" name="singleSwitchableElement_' + nextSingleSwitchableIndex + '" value="' + selectedId + '">' +
                        '</div>'
                        );
                        $("#singleSwitchable").dropdown('clear');
                        $("#singleSwitchable").find('.menu .item[data-value=' + selectedId + ']').addClass('disabled');
                        nextSingleSwitchableIndex++;
                        deviceCount++;
                    }
                });
            });

            //Rollläden
            function removeShutter(id) {

                $('#a' + id).remove();
                $("#shutter").find('.menu .item[data-value=' + id + ']').removeClass('disabled');
                deviceCount--;
            }

            $(function() {

                var nextShutterIndex = {{ shutterNextIndex }};

                //Einfachschaltelement
                $('#addShutter').click(function() {

                var selectedId = $("#shutter").dropdown('get value');
                var level = $("#shutterLevel").val();
                var selectedName = $("#shutter").dropdown('get text');

                if(selectedId.length > 0) {

                    $('#shutters').append(
                        '<div class="item" id="a' + selectedId + '">' +
                        '   <div class="content">' +
                        '       <div class="header">' + selectedName + '</div>'+
                        '       <div class="extra">' +
                        '           <div class="ui right floated red basic icon button" onclick="removeShutter(\'' + selectedId + '\');">' +
                        '               <i class="remove icon"></i>' +
                        '           </div>' +
                        '           <div class="ui label teal">' + level + ' %</div>' +
                        '       </div>' +
                        '   </div>' +
                        '   <input type="hidden" name="shutterElement_' + nextShutterIndex + '_id" value="' + selectedId + '">' +
                        '   <input type="hidden" name="shutterElement_' + nextShutterIndex + '_level" value="' + level + '">' +
                        '</div>'
                    );
                    $("#shutter").dropdown('clear');
                    $("#shutter").find('.menu .item[data-value=' + selectedId + ']').addClass('disabled');
                    nextShutterIndex++;
                    deviceCount++;
                    }
                });
            });
            </script>
        <div class="ui segment bottom attached">
            <div class="ui button basic secondary" onclick="window.history.back()">Zurück</div>
            <button class="ui button primary" type="submit">Speichern</button>
        </div>
        {% endif %}
    </form>
</main>
</body>
</html>