<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezepte Zutaten</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">

        function search() {

            var value = $('.ui.search input').val();
            window.location = '/recipe/admin/ingredient?filter=' + value;
        }

        $(function () {

            $('.ui.search i').click(function () {
                search();
            });
            $('.ui.search input').keydown(function (e) {
                if(e.which == 13) {
                    search();
                }
            });
        });
    </script>
</head>
<body>
{% include '/webserver/template/recipe/admin/headline.html' with {module: 'ingredient'} %}
<main class="ui main container">
    <h1 class="ui header top attached">Zutaten verwalten</h1>
    {% if success is defined %}
    <div class="ui message icon attached {% if success %}success{% else %}error{% endif %}">
        {% if success %}
        <i class="check icon green"></i>
        {% else %}
        <i class="remove icon red"></i>
        {% endif %}
        <div class="content">
            <p>{{ message | escape }}</p>
        </div>
    </div>
    {% endif %}
    <div class="ui attached menu inverted blue">
        <a class="item" href="/recipe/admin/ingredientform">
            <i class="plus icon"></i> hinzuf&uuml;gen
        </a>
        <div class="right menu">
            <div class="ui right aligned category search item">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Suche ..." {% if filterStr is defined %}value="{{ filterStr | escape }}"{% endif %}>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    {% if pagination.getSize() > 0 %}
    <div class="ui segment attached">
        <div class="ui divided items attached {% if pagination.hasPages() == false %}bottom{% endif %}">
            {% for element in pagination.getCurrentPageElements() %}
            {% set randomId = randomstr() %}
            <div class="item">
                <div class="content">
                    <div class="header">{{ element.getName() | escape }}</div>
                    <div class="decription">
                        <span style="font-weight: bold">Einheit:</span> {{ element.getUnit() | escape }}
                    </div>
                    <div class="extra">
                        <div class="ui right floated">
                            <a title="bearbeiten" class="ui button orange basic" href="/recipe/admin/ingredientform?id={{ element.getId() }}"><i class="edit icon"></i> bearbeiten</a>
                            <button title="l&ouml;schen" class="ui button red basic" onclick="$('#{{ randomId }}').modal('show')"><i class="remove icon"></i> l&ouml;schen</button>
                        </div>
                        <div class="ui basic modal" id="{{ randomId }}">
                            <div class="ui icon header">
                                <i class="delete icon"></i>
                                Zutat l&ouml;schen
                            </div>
                            <div class="content">
                                <p>Bist du sicher das du die Zutat l&ouml;schen m&ouml;chtest?</p>
                            </div>
                            <div class="actions">
                                <div class="ui red basic cancel inverted button">
                                    <i class="remove icon"></i>
                                    Nein
                                </div>
                                <div class="ui green ok inverted button" onclick="window.location = '/recipe/admin/ingredientdelete?id={{ element.getId() }}'">
                                    <i class="checkmark icon"></i>
                                    Ja
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if pagination.hasPages() %}
    <div class="ui segment bottom attached clearing">
        <div class="ui right floated pagination menu">
            {% include '/webserver/template/recipe/admin/pagination.html' with {pagination: pagination} %}
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="ui icon info message bottom attached large">
        <i class="info circle icon black"></i>
        <div class="content">
            <p>keine Zutaten gefunden</p>
        </div>
    </div>
    {% endif %}
    <div style="height: 50px;"></div>
</main>
</body>
</html>