<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartHome Info</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">
        $(function() {

            $('.menu .item').tab();
            $('.progress').progress();
        });
    </script>
</head>
<body>
{% include '/webserver/template/global/admin/headline.html' with {module: 'info'} %}
<main class="ui main container">
    <h1 class="ui header top attached">Server Info</h1>
    <div class="ui segment attached">
        <div class="ui top attached tabular menu">
            <div data-tab="software" class="active item" style="cursor: pointer;">Software</div>
            <div data-tab="hardware" class="item" style="cursor: pointer;">Hardware</div>
            <div data-tab="database" class="item" style="cursor: pointer;">Datenbank</div>
        </div>
        <div data-tab="software" class="ui bottom attached tab segment active">
            <table class="ui celled table">
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">SmartHome</div></td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>{{ smartHomeVersion }}</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Betriebssystem</div></td>
                </tr>
                <tr>
                    <td>Betriebssystem:</td>
                    <td>{{ properties.get('os.name') }}</td>
                </tr>
                <tr>
                    <td>Architektur:</td>
                    <td>{{ properties.get('os.arch') }}</td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>{{ properties.get('os.version') }}</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Java</div></td>
                </tr>
                <tr>
                    <td>Home:</td>
                    <td>{{ properties.get('java.home') }}</td>
                </tr>
                <tr>
                    <td>Hersteller:</td>
                    <td>{{ properties.get('java.vendor') }} - <a href="{{ properties.get('java.vendor.url') }}">{{ properties.get('java.vendor.url') }}</a></td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>{{ properties.get('java.version') }}</td>
                </tr>
                <tr>
                    <td>Benutzer:</td>
                    <td>{{ properties.get('user.name') }}</td>
                </tr>
                <tr>
                    <td>Arbeitsspeicher:</td>
                    <td>
                        <div class="ui teal progress" data-total="{{ javaMemoryTotal }}" data-value="{{ javaMemoryUsed }}">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                            <div class="label">{{ javaMemoryUsed | filesize }} von {{ javaMemoryTotal | filesize }} verwendet</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Maiximal verf&uuml;gbar:</td>
                    <td>{{ javaMemoryMax | filesize }}</td>
                </tr>
            </table>
        </div>
        <div data-tab="hardware" class="ui bottom attached tab segment">
            <table class="ui celled table">
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Hardware</div></td>
                </tr>
                <tr>
                    <td>Hostname:</td>
                    <td>{{ hostname }}</td>
                </tr>
                <tr>
                    <td>Laufzeit:</td>
                    <td>{{ uptime | secondformat }}</td>
                </tr>
                <tr>
                    <td>letzter Systemstart:</td>
                    <td>{{ lastStartTime | datetimeformat }}</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Arbeitsspeicher</div></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="ui teal progress" data-total="{{ memoryInfo.getTotalSize() }}" data-value="{{ memoryInfo.getUsedSize() }}">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                            <div class="label">{{ memoryInfo.getUsedSize() | filesize }} von {{ memoryInfo.getTotalSize() | filesize }} verwendet</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">CPU</div></td>
                </tr>
                <tr>
                    <td>Hersteller:</td>
                    <td>{{ cpuInfo.getVendor() }}</td>
                </tr>
                <tr>
                    <td>Model:</td>
                    <td>{{ cpuInfo.getModelName() }}</td>
                </tr>
                <tr>
                    <td>Temperatur:</td>
                    <td>{{ coreTemperature }} &deg;C</td>
                </tr>
                {% for coreInfo in cpuInfo.getCores() %}
                <tr>
                    <td>Core {{ coreInfo.getId() }}:</td>
                    <td>
                        <span style="font-weight: bold;">Min Freq.:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ coreInfo.getMinClock() }} MHz <br>
                        <span style="font-weight: bold;">Aktuelle Freq.:</span> {{ coreInfo.getCurrentClock() }} MHz <br>
                        <span style="font-weight: bold;">Max Freq.:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ coreInfo.getMaxClock() }} MHz
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div data-tab="database" class="ui bottom attached tab segment">
            <table class="ui celled table">
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Host Info</div></td>
                </tr>
                <tr>
                    <td>Betriebssystem:</td>
                    <td>{{ host.get('osType') }} - {{ host.get('osName') }} {{ host.get('osVersion') }}</td>
                </tr>
                <tr>
                    <td>Systemzeit:</td>
                    <td>{{ host.get('systemCurrentTime') }}</td>
                </tr>
                <tr>
                    <td>Hostname:</td>
                    <td>{{ host.get('systemHostname') }}</td>
                </tr>
                <tr>
                    <td>Architektur:</td>
                    <td>{{ host.get('systemCpuArch') }}</td>
                </tr>
                <tr>
                    <td>CPU Kerne:</td>
                    <td>{{ host.get('systemNumCores') }}</td>
                </tr>
                <tr>
                    <td>Arbeitsspeicher:</td>
                    <td>{{ host.get('systemMemSizeMB') | numberformat }} MiB</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Server Info</div></td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>{{ server.get('version') }}</td>
                </tr>
                <tr>
                    <td>Laufzeit:</td>
                    <td>{{ server.get('uptime') | secondformat }}</td>
                </tr>
                <tr>
                    <td>Systemzeit:</td>
                    <td>{{ server.get('localTime') }}</td>
                </tr>
                <tr>
                    <td>offene Verbindungen:</td>
                    <td>{{ server.get('connectionsCurrent') | numberformat }}</td>
                </tr>
                <tr>
                    <td>verf&uuml;gbare Verbindungen:</td>
                    <td>{{ server.get('connectionsAvailable') | numberformat }}</td>
                </tr>
                <tr>
                    <td>gesamte Verbindungen:</td>
                    <td>{{ server.get('connectionsTotalCreated') | numberformat }}</td>
                </tr>
                <tr>
                    <td>Empfangene Daten:</td>
                    <td>{{ server.get('networkBytesIn') | filesize }}</td>
                </tr>
                <tr>
                    <td>gesendete Daten:</td>
                    <td>{{ server.get('networkBytesOut') | filesize }}</td>
                </tr>
                <tr>
                    <td>Netzwerkanfragen:</td>
                    <td>{{ server.get('networkNumRequests') | numberformat }}</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Datenbank Info</div></td>
                </tr>
                <tr>
                    <td>Datenbank:</td>
                    <td>{{ db.get('db') }}</td>
                </tr>
                <tr>
                    <td>Collections:</td>
                    <td>{{ db.get('collections') | numberformat }}</td>
                </tr>
                <tr>
                    <td>Views:</td>
                    <td>{{ db.get('views') | numberformat }}</td>
                </tr>
                <tr>
                    <td>Dokumente:</td>
                    <td>{{ db.get('objects') | numberformat }}</td>
                </tr>
                <tr>
                    <td>&empty; Dokumentengr&ouml;&szlig;e:</td>
                    <td>{{ db.get('avgObjSize') | filesize }}</td>
                </tr>
                <tr>
                    <td>Datenbankgr&ouml;&szlig;e:</td>
                    <td>{{ db.get('dataSize') | filesize }}</td>
                </tr>
                <tr>
                    <td>Festplattenspeicher:</td>
                    <td>{{ db.get('storageSize') | filesize }}</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="ui ribbon label large blue">Collection Info</div></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="ui divided items">
                            {% for collection in collections %}
                            <table class="ui celled table">
                                <tr>
                                    <td colspan="2"><h3>{{ collection.get('name') }}</h3></td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;">Dokumente:</td>
                                    <td style="width: 50%;">{{ collection.get('count') | numberformat }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;">&empty; Dokumentengr&ouml;&szlig;e:</td>
                                    <td style="width: 50%;">{{ collection.get('avgObjSize') | filesize }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;">Speicher:</td>
                                    <td style="width: 50%;">{{ collection.get('size') | filesize }}</td>
                                </tr>
                            </table>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>