<header>
    <div class="ui fixed inverted menu large stackable">
        <a onclick="$('.ui.labeled.icon.sidebar').sidebar('toggle')"  class="header item">
            <img src="/static/img/icon/global.png" width="32" height="32" class="logo">
            SmartHome Admin
        </a>
    </div>
</header>
<aside>
    <div class="ui left vertical inverted sidebar labeled icon menu scale down">
        <a href="/index" class="item">
            <img src="/static/img/icon/global.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            SmartHome
        </a>
        <a href="/admin/index" class="item {% if module == 'admin' %}active{% endif %}">
            <img src="/static/img/icon/global.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            SmartHome Admin
        </a>
        <a href="/admin/backup" class="item {% if module == 'backup' %}active{% endif %}">
            <img src="/static/img/icon/backup.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Backup
        </a>
        <a href="/admin/settings" class="item {% if module == 'settings' %}active{% endif %}">
            <img src="/static/img/icon/settings.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Einstellungen
        </a>
        <a href="/admin/info" class="item {% if module == 'info' %}active{% endif %}">
            <img src="/static/img/icon/info.png" width="64" height="64" class="logo" style="margin: 0 auto;">
            Info
        </a>
    </div>
</aside>