<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartHome Einstellungen</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">
        $(function() {

            $('.menu .item').tab();
        });
    </script>
</head>
<body>
{% include '/webserver/template/global/admin/headline.html' %}
<main class="ui main container">
    <div class="ui segment">
        <div>
            <h2 class="ui header">Einstellungen</h2>
        </div>
        <div class="ui divider"></div>
        {% if success is defined %}
        {% if success %}
        <div class="ui message success">
                    Die Einstellungen wurden erfolgreich gespeichert
                </div>
        {% else %}
        <div class="ui message error">
                    Die Einstellungen konnten nicht gespeichert werden
                </div>
        {% endif %}
        {% endif %}
        <form class="ui form" method="post" action="/admin/settings">
            <div class="ui top attached tabular menu">
                <div data-tab="webserverUnsave" class="active item" style="cursor: pointer;">Webserver (unverschl&uuml;sselt)</div>
                <div data-tab="webserverSave" class="item" style="cursor: pointer;">Webserver (verschl&uuml;sselt)</div>
            </div>
            <div data-tab="webserverUnsave" class="ui bottom attached tab segment active">
                <div class="ui icon info message">
                    <i class="info icon black"></i>
                    <div class="content">
                        <p>&Auml;nderungen an den Einstellungen werden erst nach einem Neustart des Servers &uuml;bernommen.</p>
                    </div>
                </div>
                <div class="field required">
                    <label>Port des Webservers</label>
                    <input name="port" type="number" min="0" max="65535" step="1" value="{{ port | escape }}" required>
                </div>
            </div>
            <div data-tab="webserverSave" class="ui bottom attached tab segment">
                <div class="ui icon info message">
                    <i class="info icon black"></i>
                    <div class="content">
                        <p>&Auml;nderungen an den Einstellungen werden erst nach einem Neustart des Servers &uuml;bernommen.</p>
                    </div>
                </div>
                <div class="field required">
                    <label>Port des Webservers</label>
                    <input name="securePort" type="number" min="0" max="65535" step="1" value="{{ securePort | escape }}" required>
                </div>
                <div class="field">
                    <label>Passwort des Key Store</label>
                    <input name="storePassword" type="password" value="">
                </div>
                <div class="field">
                    <label>Passwort des Key Managers</label>
                    <input name="managerPassword" type="password" value="">
                </div>
            </div>
            <div class="ui divider"></div>
            <input type="submit" class="ui button primary" value="speichern">
            <input type="reset" class="ui button" value="reset">
        </form>
    </div>
</main>
</body>
</html>