<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filme</title>
    {% include '/webserver/template/header.html' %}
</head>
<body>
{% include '/webserver/template/movie/user/headline.html' with {module: 'movie'} %}
<main class="ui main container">
    <div class="ui text menu top attached">
        <h1 class="ui item" style="font-weight: bold;line-height: 1.28571429em;color: rgba(0,0,0,.87);">Filme</h1>
        <div class="ui right dropdown item">
            <i class="filter icon"></i>
            filtern
            <div class="menu">
                <div class="item {% if durationFilter %}active{% endif %}">
                    <i class="dropdown icon"></i>
                    <span class="text">L&auml;nge</span>
                    <div class="menu">
                        <a class="item {% if durationFilter == 'short' %}active{% endif %}" href="/movie/movie?duration=short">kurz</a>
                        <a class="item {% if durationFilter == 'normal' %}active{% endif %}" href="/movie/movie?duration=normal">mittel</a>
                        <a class="item {% if durationFilter == 'long' %}active{% endif %}" href="/movie/movie?duration=long">lang</a>
                    </div>
                </div>
                <div class="item {% if genreFilter %}active{% endif %}">
                    <i class="dropdown icon"></i>
                    <span class="text">Genre</span>
                    <div class="menu">
                        {% for genre in genreList %}
                        <a class="item {% if genreFilter == genre.getId().get() %}active{% endif %}" href="/movie/movie?genre={{ genre.getId().get() }}">{{ genre.getName() | escape }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="item {% if discFilter %}active{% endif %}">
                    <i class="dropdown icon"></i>
                    <span class="text">Medium</span>
                    <div class="menu">
                        {% for disc in dicsList %}
                        <a class="item {% if discFilter == disc.getId().get() %}active{% endif %}" href="/movie/movie?disc={{ disc.getId().get() }}">{{ disc.getName() | escape }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if success is defined %}
    <div class="ui message icon attached {% if success %}success{% else %}error{% endif %}">
        {% if success %}
        <i class="check icon green"></i>
        {% else %}
        <i class="remove icon red"></i>
        {% endif %}
        <div class="content">
            <p>{{ message | escape }}</p>
        </div>
    </div>
    {% endif %}
    {% if pagination.getSize() > 0 %}
    <div class="ui link cards four column doubling stackable bottom attached">
        {% for element in moviesAtPage %}
        <div class="card" onclick="window.location = '{% if element.isInMovieBox() %}/movie/movieboxview?id={{ element.getBoxId().get().get() }}#{{ element.getId().get() }}{% else %}/movie/movieview?id={{ element.getId().get() }}{% endif %}'">
            <div class="image">
                {% if newestMovies.contains(element.getId().get()) %}
                <a class="ui left corner label blue">
                    <i class="star yellow icon"></i>
                </a>
                {% endif %}
                {% if viewSoonMovies.contains(element.getId().get()) %}
                <a class="ui right corner label orange">
                    <i class="binoculars icon"></i>
                </a>
                {% endif %}
                {% if element.getCoverFile() != null %}
                <img src="/movie/cover?file={{ element.getCoverFile() }}">
                {% else %}
                <img src="/static/img/noimage.gif">
                {% endif %}
            </div>
            <div class="content">
                <div class="ui">
                    <div class="header">{{ element.getTitle() | escape }}</div>
                    <div class="meta">
                        {{ element.getSubTitle() | escape }}
                    </div>
                </div>
            </div>
            <div class="extra content">
                    <span class="right floated">
                        {{ element.getDuration() | minuteformat }}
                    </span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    {% if filtered %}
    <div class="ui message icon bottom attached info">
        <i class="search icon"></i>
        <div class="content">
            <p>Keine Filme zu diesem Filter gefunden</p>
        </div>
    </div>
    {% else %}
    <div class="ui placeholder segment bottom attached">
        <div class="ui icon header">
            <i class="pdf file outline icon"></i>
            Keine Filme gefunden
        </div>
        <a class="ui primary button" href="/movie/movieform">Film hinzuf&uuml;gen</a>
    </div>
    {% endif %}
    {% endif %}
    {% if pagination.hasPages() %}
    <div class="ui segment bottom clearing" style="margin-bottom: 30px;">
        <div class="ui right floated pagination menu">
            {% include '/webserver/template/movie/user/pagination.html' with {pagination: pagination} %}
        </div>
    </div>
    {% endif %}
</main>
</body>
</html>