<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartHome Einstellungen</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">
        $(function() {

            $('.menu .item').tab();
        });
    </script>
</head>
<body>
{% include '/webserver/template/global/admin/headline.html' with {module: 'settings'} %}
<main class="ui main container">
    <form class="ui form" method="post" action="/admin/settings">
        <h1 class="ui header top attached">Einstellungen</h1>
        {% if success is defined %}
        <div class="ui visible message icon attached {% if success %}success{% else %}error{% endif %}">
            {% if success %}
            <i class="check icon green"></i>
            <div class="content">
                <p>Die Einstellungen wurden erfolgreich gespeichert</p>
            </div>
            {% else %}
            <i class="remove icon red"></i>
            <div class="content">
                <p>Die Einstellungen konnten nicht gespeichert werden</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="ui segment attached">
            <h3>keine Vorhanden</h3>
        </div>
        <div class="ui segment bottom attached">
            <input type="submit" class="ui button primary" value="speichern">
            <input type="reset" class="ui button" value="reset">
        </div>
    </form>
</main>
</body>
</html>