<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filme Sortieren</title>
    {% include '/webserver/template/header.html' %}
    <link rel="stylesheet" type="text/css" href="/static/lightbox/css/lightbox.min.css">
    <script src="/static/lightbox/js/lightbox.min.js" type="text/javascript"></script>
</head>
<body>
{% include '/webserver/template/movie/admin/headline.html' with {module: 'sortin'} %}
<main class="ui main container">
    <h1 class="ui header top attached">Blu-ray sortieren</h1>
    {% if mainMovie %}
    {% if previousMovies.size() > 0 %}
    <h3 class="ui header attached">Vorherige Filme</h3>
    <div class="ui attached segment">
        <div class="ui items attached">
            {% for movie in previousMovies %}
            <div class="item">
                <div class="image">
                    {% if movie.getCoverFile() != null %}
                    <a href="/movie/cover?file={{ movie.getCoverFile() }}" data-lightbox="{{ randomstr() }}">
                        <img src="/movie/cover?file={{ movie.getCoverFile() }}" class="ui tiny image">
                    </a>
                    {% else %}
                    <img class="ui huge image" src="/static/img/noimage.gif">
                    {% endif %}
                </div>
                <div class="content">
                    <a class="header">{{ movie.getTitle() | escape }}</a>
                    <div class="meta">
                        <span>{{ movie.getSubTitle() | escape }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <h3 class="ui header attached">Film</h3>
    <div class="ui attached segment">
        <div class="ui items">
            <div class="item">
                <div class="image">
                    {% if mainMovie.getCoverFile() != null %}
                    <a href="/movie/cover?file={{ mainMovie.getCoverFile() }}" data-lightbox="{{ randomstr() }}">
                        <img src="/movie/cover?file={{ mainMovie.getCoverFile() }}" class="ui small image">
                    </a>
                    {% else %}
                    <img class="ui huge image" src="/static/img/noimage.gif">
                    {% endif %}
                </div>
                <div class="content">
                    <a class="header">{{ mainMovie.getTitle() | escape }}</a>
                    <div class="meta">
                        <span>{{ mainMovie.getSubTitle() | escape }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if nextMovies.size() > 0 %}
    <h3 class="ui header attached">Nachfolgende Filme</h3>
    <div class="ui attached segment">
        <div class="ui items attached">
            {% for movie in nextMovies %}
            <div class="item">
                <div class="image">
                    {% if movie.getCoverFile() != null %}
                    <a href="/movie/cover?file={{ movie.getCoverFile() }}" data-lightbox="{{ randomstr() }}">
                        <img src="/movie/cover?file={{ movie.getCoverFile() }}" class="ui tiny image">
                    </a>
                    {% else %}
                    <img class="ui huge image" src="/static/img/noimage.gif">
                    {% endif %}
                </div>
                <div class="content">
                    <a class="header">{{ movie.getTitle() | escape }}</a>
                    <div class="meta">
                        <span>{{ movie.getSubTitle() | escape }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="ui bottom attached segment">
        <a class="ui primary button" href="/movie/admin/sortin/bluray?oldid={{ mainMovie.getId().get() | escape }}">weiter</a>
    </div>
    {% else %}
    <div class="ui bottom attached info icon massage">
        <i class="question icon"></i>
        <div class="content">
            <p>Keine Filme vorhanden</p>
        </div>
    </div>
    {% endif %}
</main>
</body>
</html>