<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suche</title>
    {% include '/webserver/template/header.html' %}
</head>
<body>
{% include '/webserver/template/recipe/user/headline.html' with {module: 'search'} %}
<main class="ui main container">
    <h1 class="ui header top attached">Rezepte ({{ recipesCount | numberformat }})</h1>
    {% if recipesPagination.getSize() > 0 %}
    <div class="ui link cards four column doubling stackable bottom attached">
        {% for element in recipesPagination.getCurrentPageElements() %}
        <div class="card" onclick="window.location = '/recipe/recipeview?id={{ element.getId().get() }}'">
            <div class="image">
                {% if element.isBookmark() %}
                <a class="ui right corner label orange">
                    <i class="bookmark icon"></i>
                </a>
                {% endif %}
                {% if (element.getImageFile() != null) and (not element.getImageFile() == '') %}
                <img src="/recipe/image?file={{ element.getImageFile() }}">
                {% else %}
                <img src="/static/img/noimage.gif">
                {% endif %}
            </div>
            <div class="content">
                <div class="ui">
                    <div class="header">{{ element.getName() | escape }}</div>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    {% if element.getDifficulty() == 'LIGHT' %}Leicht
                    {% elseif element.getDifficulty() == 'MEDIUM' %}Mittel
                    {% elseif element.getDifficulty() == 'HEAVY' %}Schwer
                    {% endif %}
                </span>
                <span>
                    <i class="clock outline icon"></i>
                    {{ element.getTotalDuration() | minuteformat }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="ui placeholder bottom attached segment">
        <div class="ui icon header">
            <i class="pdf file outline icon"></i>
            Keine Rezepte gefunden
        </div>
    </div>
    {% endif %}
    {% if recipesPagination.hasPages() %}
    <div class="ui segment bottom clearing" style="margin-bottom: 30px;">
        <div class="ui right floated pagination menu">
            {% include '/webserver/template/recipe/user/pagination.html' with {pagination: recipesPagination} %}
        </div>
    </div>
    {% endif %}
</main>
</body>
</html>