<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film Reihen</title>
    {% include '/webserver/template/header.html' %}
</head>
<body>
{% include '/webserver/template/movie/user/headline.html' with {module: 'movieseries'} %}
<main class="ui main container">
    <h1 class="ui header top attached">Film Reihen</h1>
    {% if success is defined %}
    <div class="ui message icon attached {% if success %}success{% else %}error{% endif %}">
        {% if success %}
        <i class="check icon green"></i>
        {% else %}
        <i class="remove icon red"></i>
        {% endif %}
        <div class="content">
            <p>{{ message | escape }}</p>
        </div>
    </div>
    {% endif %}
    {% if pagination.getSize() > 0 %}
    <div class="ui link cards four column doubling stackable bottom attached">
        {% for element in movieSeriesAtPage %}
        <div class="card" onclick="window.location = '/movie/movieseriesview?id={{ element.getId().get() }}'">
            <div class="image">
                {% if seriesWithNewMovies.contains(element.getId().get()) %}
                <a class="ui left corner label blue">
                    <i class="star yellow icon"></i>
                </a>
                {% endif %}
                {% if seriesWithViewSoonMovies.contains(element.getId().get()) %}
                <a class="ui right corner label orange">
                    <i class="binoculars icon"></i>
                </a>
                {% endif %}
                {% if element.getPosterFile().length() > 0 %}
                <img src="/movie/cover?file={{ element.getPosterFile() }}">
                {% else %}
                <img src="/static/img/noimage.gif">
                {% endif %}
            </div>
            <div class="content">
                <div class="ui">
                    <div class="header">{{ element.getTitle() | escape }}</div>
                    <div class="meta">
                        {{ element.getSubTitle() | escape }}
                    </div>
                </div>
            </div>
            <div class="extra content">
                    <span class="right floated">
                        {% if element.getSeriesMovies().size() == 1 %}
                        1 Film
                        {% else %}
                        {{ element.getSeriesMovies().size() | numberformat }} Filme
                        {% endif %}
                    </span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="ui placeholder segment bottom attached">
        <div class="ui icon header">
            <i class="pdf file outline icon"></i>
            Keine Film Reihen gefunden
        </div>
        <a class="ui primary button" href="/movie/movieseriesform">Film Reihe hinzuf&uuml;gen</a>
    </div>
    {% endif %}
    {% if pagination.hasPages() %}
    <div class="ui segment bottom clearing" style="margin-bottom: 30px;">
        <div class="ui right floated pagination menu">
            {% include '/webserver/template/movie/user/pagination.html' with {pagination: pagination} %}
        </div>
    </div>
    {% endif %}
</main>
</body>
</html>