<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SmartHome</title>

        <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/static/style/global.css">
        <script src="/static/jquery/jquery-3.3.1.min.js"></script>
        <script src="/static/semantic/semantic.min.js"></script>
        <script type="text/javascript">
            
        </script>
    </head>
    <body>
        <header>
            <div class="ui fixed inverted menu large">
                <a href="index.html" class="header item">
                    <img src="/static/img/icon/smarthome.png" width="32" height="32" class="logo" style="margin-right: 5px;">
                     SmartHome
                </a>
                <div class="right menu">
                    <a href="/settings" class="item"><i class="setting icon large"></i></a>
                </div>
            </div>
        </header>
        <main>
            
        </main>
    </body>
</html>