<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung Schaltserver</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">
        $(function() {

            $('.checkbox').checkbox();
            $('.dropdown').dropdown();
        });
    </script>
</head>
<body>
{% include '/webserver/template/automation/admin/headline.html' with {module: 'sensorvalues'} %}
<main class="ui main container">
    <form class="ui form"  action="/automation/admin/sensorvaluevirtualsensorform?type={{ type }}&id={{ sensorValue.getId().get() | escape }}" method="post">
        <h1 class="ui header top attached">Virtuellen Sensor {% if addElement %}hinzuf&uuml;gen{% else %}bearbeiten{% endif %}</h1>
        {% if error is defined %}
        <div class="ui visible icon message error attached">
            <i class="remove icon red"></i>
            <div class="content">
                <p>{{ error | escape }}</p>
            </div>
        </div>
        <div class="ui segment attached">
            <div class="ui button basic primary" onclick="window.history.back()">zur&uuml;ck</div>
        </div>
        {% else %}
        <div class="ui segment attached">
            <input type="hidden" name="addElement" value="{% if addElement %}1{% else %}0{% endif %}">
            <div class="field">
                <label>Typ</label>
                <input name="name" type="text" value="{% if type == 1 %}aktuelle Energie{% elseif type == 2 %}Energieverbrauch{% elseif type == 3 %}Gasverbrauch{% elseif type == 4 %}Lichtst&auml;rke{% elseif type == 5 %}Temperatur{% elseif type == 6 %}Wasserverbrauch{% else %}unbekannt{% endif %}" disabled>
            </div>
            <div class="field required">
                <label>Name</label>
                <input name="name" type="text" value="{% if addElement == false %}{{ sensorValue.getName() | escape }}{% endif %}" pattern=".{3,50}" required>
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea name="description" type="text" minlength="0" maxlength="250" rows="5">{% if sensorValue.getDescription().isPresent() %}{{ sensorValue.getDescription().get() | escape }}{% endif %}</textarea>
            </div>
            <div class="field required">
                <label>Sensorwerte</label>
                <select name="sensorValues" multiple required class="ui fluid dropdown">
                    {% for value in sensorValues %}
                    <option value="{{ value.getId().get() | escape }}" {% if sensorValue.getSensorValues() | contains(value.getId().get()) %}selected{% endif %}>{{ value.getName() | escape }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label>aktueller Wert</label>
                <input type="text" value="{{ sensorValue | formatsensorvalue | escape }}" readonly>
            </div>
        </div>
        <div class="ui segment bottom attached">
            <div class="ui button basic secondary" onclick="window.history.back()">Zurück</div>
            <button class="ui button primary" type="submit">Speichern</button>
        </div>
        {% endif %}
    </form>
</main>
</body>
</html>