<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatisierung Schaltserver</title>
    {% include '/webserver/template/header.html' %}
    <script type="text/javascript">
        $(function() {

            $('.checkbox').checkbox();
        });
    </script>
</head>
<body>
{% include '/webserver/template/automation/admin/headline.html' with {module: 'sensorvalues'} %}
<main class="ui main container">
    <form class="ui form"  action="/automation/admin/sensorvalueslivebitform?id={{ sensorValue.getId().get() | escape }}" method="post">
        <h1 class="ui header top attached">Sensorwert "{{ sensorValue | formatsensortype | escape }}" bearbeiten</h1>
        {% if error is defined %}
        <div class="ui visible icon message error attached">
            <i class="remove icon red"></i>
            <div class="content">
                <p>{{ error | escape }}</p>
            </div>
        </div>
        <div class="ui segment attached">
            <div class="ui button basic primary" onclick="window.history.back()">zur&uuml;ck</div>
        </div>
        {% else %}
        <div class="ui segment attached">
            <div class="field required">
                <label>Name</label>
                <input name="name" type="text" value="{{ sensorValue.getName() | escape }}" pattern=".{3,50}" required>
            </div>
            <div class="field">
                <label>Identifier</label>
                <input type="text" value="{{ sensorValue.getIdentifier() | escape }}" readonly>
            </div>
            <div class="field">
                <label>Beschreibung</label>
                <textarea name="description" type="text" minlength="0" maxlength="250" rows="5">{% if sensorValue.getDescription().isPresent() %}{{ sensorValue.getDescription().get() | escape }}{% endif %}</textarea>
            </div>
            <div class="field required">
                <label>Wahr Text</label>
                <input name="trueText" type="text" value="{{ sensorValue.getTrueText() | escape }}" pattern=".{1,15}" required>
            </div>
            <div class="field required">
                <label>Falsch Text</label>
                <input name="falseText" type="text" value="{{ sensorValue.getFalseText() | escape }}" pattern=".{1,15}" required>
            </div>
            <div class="field required">
                <label>Timeout [ms]</label>
                <input type="number" name="timeout" value="{{ sensorValue.getTimeout() | escape }}" min="10000" max="86400000" step="1" required>
            </div>
            <div class="field">
                <label>aktueller Wert</label>
                <input type="text" value="{{ sensorValue | formatsensorvalue | escape }}" readonly>
            </div>
        </div>
        <div class="ui segment bottom attached">
            <div class="ui button basic secondary" onclick="window.history.back()">Zurück</div>
            <button class="ui button primary" type="submit">Speichern</button>
        </div>
        {% endif %}
    </form>
</main>
</body>
</html>